<div data-aid="filter-entry-users" class="vTableHeader" [ngStyle]="{'padding-bottom': _tags.length ? 0 : '8px'}">
  <span class="vTotalCount">{{'app.entry.totalViewersCount' | translate: { '0': totalCount } }}</span>
  <div class="vSearch">
    <app-engagement-users-filter [selectedUsers]="_selectedValues['users']"
                                 (itemSelected)="_onItemSelected($event, 'users')"></app-engagement-users-filter>
  </div>
</div>

<div class="vTagsContainer" *ngIf="_tags.length">
  <span class="vDisclaimer" *ngIf="_showDisclaimer">
      <i class="vIconhelp_full"></i>
    {{'app.filters.disclaimer' | translate}}
  </span>
  <vTags title=""
         labelField="label"
         tooltipField="tooltip"
         [data]="_tags"
         [clearAllLabel]="'app.common.clearAll' | translate"
         (onTagRemove)="_removeFilter($event)"
         (onRemoveAll)="_removeAll()">
  </vTags>
</div>
