@import '../../../../../../styles/variables';

.vTableHeader {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .vTotalCount {
    display: inline-block;
    font-size: 15px;
  }
}

.vTagsContainer {
  vtags {
    width: 100%;
    margin-left: 0;

    /deep/ .vTags {
      width: auto;
      padding: 0 8px 0 16px;
    }
  }
}

:host /deep/ {
  .ui-autocomplete-multiple-container {
    width: 200px !important;
    min-height: 34px;
    padding: 3px 6px !important;
  }
}
