@import '../../../../../../styles/variables';

:host {
  width: 100%;
  height: 100%;

  /deep/ {
    .ui-table tr td,
    .ui-table tr th,
    .ui-table thead {
      border: none !important;
    }

    .ui-table-wrapper {
      min-height: 260px;
    }
  }
}

.vPeriod {
  margin: 24px 24px 17px;
}

.vFlag {
  width: 24px;
  height: 24px;
}

.vFlagColumn{
  padding-left: 18px !important;
}

.vTopCountries {
  display: flex;
  height: 100%;

  &.vDefaultMode {
    flex-direction: row !important;
  }

  &.vCompareMode {
    flex-direction: column-reverse !important;
  }

  .vTable, .vMap {
    flex: 1;
  }
}

.vMap{
  position: relative;
  .vChart{
    width: 100%;
    height: 268px;
    margin-bottom: 24px;
  }
  .vZoomWidget{
    position: absolute;
    right: 24px;
    bottom: 12px;
    button{
      width: 42px;
      height: 34px;
    }
    .vZoomInBtn{
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .vZoomOutBtn{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.emptymessage, .vEmptyMessage {
  border: none;
  font-size: 15px;
}
