<div data-aid="report-entry-details-overview" class="vReport vOverrideFAIcons">
  <div class="vFilters">
    <span class="vTitle">{{'app.audience.technology.devicesOverview' | translate}}</span>
  </div>

  <v-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="vReportContent">
      <ng-container *ngIf="_summaryData.length">
        <div class="vOverview">
          <div class="vSummaryWrapper"
               [ngStyle]="{'width': _summaryDataRight.length ? 'calc(50% - 46px)' : 'calc(33% - 46px)'}">
            <div class="vSummary">
              <div class="vSummaryRow" *ngFor="let summary of _summaryData">
                <div class="vSummaryCheckbox">
                  <i class="vIcon" [ngClass]="summary.key | appDeviceIcon"></i>
                  <span class="vLabel">{{summary.name}}</span>
                </div>
                <div class="vSummaryValue">
                  <div *ngIf="!summary.compare" [vTooltip]="summary.tooltip" [escape]="false">
                    <span class="vValue">{{summary.value}}</span>
                    <span class="vUnits">{{summary.units}}</span>
                  </div>

                  <div *ngIf="summary.compare" class="vTrend"
                       [vTooltip]="summary.tooltip"
                       [maxWidth]="500"
                       [escape]="false">
                    <app-trend-value valueStyleClass="vValue"
                                     unitsStyleClass="vUnits"
                                     [value]="summary.value"
                                     [units]="summary.units"
                                     [trend]="summary.trend"></app-trend-value>
                  </div>
                </div>
              </div>
            </div>
            <div class="vSummary" *ngIf="_summaryDataRight.length">
              <div class="vSummaryRow" *ngFor="let summary of _summaryDataRight">
                <div class="vSummaryCheckbox">
                  <i class="vIcon" [ngClass]="summary.key | appDeviceIcon"></i>
                  <span class="vLabel">{{summary.name}}</span>
                </div>
                <div class="vSummaryValue">
                  <div *ngIf="!summary.compare">
                    <span class="vValue">{{summary.value}}</span>
                    <span class="vUnits">{{summary.units}}</span>
                  </div>

                  <div *ngIf="summary.compare" class="vTrend"
                       [vTooltip]="summary.tooltip"
                       [maxWidth]="500"
                       [escape]="false">
                    <app-trend-value valueStyleClass="vValue"
                                     unitsStyleClass="vUnits"
                                     [value]="summary.value"
                                     [units]="summary.units"
                                     [trend]="summary.trend"></app-trend-value>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="vSummaryChart"
               [ngStyle]="{'width': _summaryDataRight.length ? 'calc(50% - 46px)' : 'calc(66% - 46px)'}">
            <div echarts class="vChart" [options]="_barChartData"></div>
          </div>

        </div>
      </ng-container>

      <div *ngIf="!_summaryData.length" class="vNoResults">
        <span *ngIf="!_isBusy">{{'app.common.noResults' | translate}}</span>
      </div>
    </div>

  </v-area-blocker>
</div>
