@import '../../../../../../styles/variables';

:host /deep/ .vValue {
  font-size: 24px;
  font-weight: 700;
}

:host /deep/ .vUnits {
  font-size: 13px;
  font-weight: 700;
}

.vReportContent {
  overflow: hidden;
  position: relative;
  padding-bottom: 45px;
  justify-content: space-around;
}

.vFilters {
  height: 93px !important;
}

.vMini {
  height: 100%;

  .vDetails {
    margin-left: auto;
    white-space: nowrap;
    margin-right: 24px;
  }

  .vReportRow {
    display: flex;
    padding: 0 24px;
    margin-bottom: 20px;
    color: $vGrayscale1;

    .vValue {
      font-size: 18px;
      font-weight: bold;
      margin-right: 12px;
      flex: 0 0 15%;
      line-height: 24px;
    }

    .vInfo {
      display: flex;
      flex-direction: column;

      .vLabel {
        font-size: 18px;
        font-weight: normal;
      }

      .vDesc {
        font-size: 15px;
        font-weight: normal;
        color: $vGrayscale3;
      }
    }

    &.vNoResults {
      height: 100%;
      font-size: 28px;
      color: $vGrayscale3;
      position: absolute;
      background-color: white;
      width: 100%;
      top: 0;
    }

  }
}

