<div data-aid="report-mini-top-stats" class="vReport vMini vOverrideFAIcons">
  <div class="vFilters">
    <span class="vTitle">{{'app.contentInteractions.insights' | translate}}</span>
  </div>

  <v-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div class="vReportContent">
      <div *ngFor="let stat of _stats" class="vReportRow">
        <div class="vValue">{{stat.value}}</div>
        <div class="vInfo">
          <span class="vLabel">{{stat.label}}</span>
          <span class="vDesc">{{stat.desc}}</span>
        </div>
      </div>

      <div class="vReportRow vNoResults" *ngIf="!_isBusy && !_stats.length">
        {{'app.common.noResults' | translate}}
      </div>
    </div>

  </v-area-blocker>
</div>

