<div data-aid="filter-entry" class="vRefineFilters vReport">
  <div class="vTagsContainer" *ngIf="_tags.length">
    <span class="vDisclaimer" *ngIf="_showDisclaimer">
      <i class="vIconhelp_full"></i>
      {{'app.filters.disclaimer' | translate}}
    </span>
    <vTags title=""
           labelField="label"
           tooltipField="tooltip"
           [data]="_tags"
           [clearAllLabel]="'app.common.clearAll' | translate"
           (onTagRemove)="_removeFilter($event)"
           (onRemoveAll)="_removeAll()">
    </vTags>
  </div>
  <div *ngIf="showFilters"
       [@state]="_state"
       (@state.done)="_filtersAnimationDone($event)">
    <div class="vRefineFiltersMain">
      <div class="vFilterContainer vOverrideFAIcons">
        <div class="vFilterContainerRow">
          <div class="vFilterContainerCol">
            <app-country-filter [dateFilter]="_dateFilter"
                                [selectedFilters]="_selectedValues['countries']"
                                (itemSelected)="_onItemSelected($event, 'countries')"
                                (itemUnselected)="_onItemUnselected($event, 'countries')"></app-country-filter>


            <app-category-filter [label]="'app.filters.categories' | translate"
                                 [selectedFilters]="_selectedValues['categories']"
                                 [linkLabel]="'app.filters.selectCategories' | translate"
                                 (itemSelected)="_onItemSelected($event, 'categories')"
                                 (itemUnselected)="_onItemUnselected($event, 'categories')"></app-category-filter>

            <!--<app-domains-filter [dateFilter]="_dateFilter"-->
                                <!--[selectedFilters]="_selectedValues['domains']"-->
                                <!--(itemSelected)="_onItemSelected($event, 'domains')"-->
                                <!--(itemUnselected)="_onItemUnselected($event, 'domains')"></app-domains-filter>-->

          </div>
          <div class="vFilterContainerCol">
            <app-owners-filter [selectedFilters]="_selectedValues['users']"
                               [label]="'app.filters.users' | translate"
                               (itemSelected)="_onItemSelected($event, 'users')"
                               (itemUnselected)="_onItemUnselected($event, 'users')"></app-owners-filter>
          </div>
        </div>
      </div>
      <div class="vRefineFiltersFooter">
        <button type="button" class="vButtonBranded" pButton
                [label]="'app.common.apply' | translate"
                (click)="_apply()"></button>
      </div>
    </div>
  </div>
</div>
