<div class="vColumn">
  <div class="vColumnLabel">{{label}}</div>
  <div class="vColumnContent">
    <div class="vCheckboxGroup" *ngFor="let option of options">
      <p-checkbox name="mediaTypes"
                  [inputId]="option.label"
                  [value]="option.value"
                  (onChange)="_onSelectionChange()"
                  [(ngModel)]="_selectedValue"></p-checkbox>
      <label [for]="option.label">
        <span class="vLabel">{{option.label | translate}}</span>
      </label>
    </div>
  </div>
</div>

