<div data-aid="report-group-engagement" class="vReport vContent vOverrideFAIcons">
  <div class="vReportHeader">
    <span class="vTitle">{{'app.engagement.title' | translate}}</span>
    <app-export-csv name="engagement"
                    [reports]="_exportConfig"
                    [refineFilter]="_refineFilter"
                    [dateFilter]="_dateFilter"></app-export-csv>
    <div class="vFilter vOverrideFAIcons">
      <div class="vDropDown" (click)="_refineFilterOpened = !_refineFilterOpened">
        <span>{{'app.filters.filter' | translate}}</span>
        <i *ngIf="!_refineFilterOpened" class="vIcondropdown_arrow_bottom"></i>
        <i *ngIf="_refineFilterOpened" class="vIcondropdown_arrow_top"></i>
      </div>
    </div>
    <app-date-filter #dateFilter
                     name="engagement"
                     [dateRange]="_dateRange"
                     [selectedTimeUnit]="_timeUnit"
                     (filterChange)="_onDateFilterChange($event)"></app-date-filter>
  </div>

  <div class="vReportContainer vNoPadding">
    <app-refine-filter name="engagement"
                       [opened]="_refineFilterOpened"
                       [dateFilter]="_dateFilter"
                       [selectedFilters]="_selectedRefineFilters"
                       (closeFilters)="_refineFilterOpened = false"
                       (filterChange)="_onRefineFilterChange($event)"></app-refine-filter>
  </div>

  <div class="vReportContainer">
    <div class="vMiniReportContainer">
      <app-engagement-mini-highlights [highlights$]="highlights.highlights$"
                                      [dateFilter]="_dateFilter"
                                      [refineFilter]="_refineFilter"></app-engagement-mini-highlights>
    </div>

    <div class="vMiniReportContainer">
      <app-engagement-mini-top-videos [dateFilter]="_dateFilter" [topVideos$]="topVideos.topVideos$"
                                      [refineFilter]="_refineFilter"></app-engagement-mini-top-videos>
    </div>

    <div class="vMiniReportContainer">
      <app-engagement-mini-peak-day [dateFilter]="_dateFilter"
                                      [refineFilter]="_refineFilter"></app-engagement-mini-peak-day>
    </div>

    <!-- Example -->
    <!-- IMPORTANT: set infinite and autoPlay to false in case there's only ONE item -->
    <!--<div class="vMiniReportContainer">-->
    <!--<ui-carousel [infinite]="false"-->
    <!--[autoPlay]="false"-->
    <!--[autoPlaySpeed]="5000"-->
    <!--[arrows]="false"-->
    <!--[fade]="false"-->
    <!--[speed]="200"-->
    <!--height="280px">-->
    <!--<ui-carousel-item>-->
    <!--<div class="vInsights">Some stuff</div>-->
    <!--</ui-carousel-item>-->
    <!--</ui-carousel>-->
    <!--</div>-->
  </div>

  <div id="highlights-report" class="vReportContainer">
    <app-engagement-highlights #highlights
                               [dateFilterComponent]="dateFilter"
                               [dateFilter]="_dateFilter"
                               [refineFilter]="_refineFilter"></app-engagement-highlights>
  </div>

  <div id="top-videos" class="vReportContainer">
    <app-engagement-top-videos #topVideos
                               [dateFilter]="_dateFilter"
                               [refineFilter]="_refineFilter"></app-engagement-top-videos>
  </div>

  <!--div class="vReportContainer">
    <app-engagement-duration [dateFilter]="_dateFilter"
                             [refineFilter]="_refineFilter"></app-engagement-duration>
  </div-->

  <div class="vReportContainer">
    <!--div class="vSmallReportContainer"-->
      <app-impressions [dateFilter]="_dateFilter"
                       [refineFilter]="_refineFilter"></app-impressions>
    <!--/div-->
    <!--div class="vSmallReportContainer">
      <app-engagement-users [dateFilter]="_dateFilter"
                            [refineFilter]="_refineFilter"></app-engagement-users>
    </div-->
  </div>

  <div class="vReportContainer">
    <app-syndication [dateFilterComponent]="dateFilter"
                     [dateFilter]="_dateFilter"
                     [refineFilter]="_refineFilter"></app-syndication>
  </div>
</div>


