@import '../../../../../../styles/variables';

:host /deep/ .vValue {
  font-size: 24px;
  font-weight: 700;
}

:host /deep/ .vUnits {
  font-size: 13px;
  font-weight: 700;
}

.vReportContent {
  overflow: hidden;
  position: relative;
  padding-bottom: 45px
}

.vFilters {
  height: 93px !important;
}

.vMini {
  height: 100%;

  .vDetails {
    margin-left: auto;
    white-space: nowrap;
    margin-right: 24px;
  }

  .vReportRow {
    display: flex;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 20px;

    .topSpeed {
      color: $vGrayscale1;
      font-size: 24px;
      font-weight: bold;
    }

    .vLabel {
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 12px;
    }

    &.vNoResults {
      height: 100%;
      font-size: 28px;
      color: $vGrayscale3;
      position: absolute;
      background-color: white;
      width: 100%;
      top: 0px;
    }

  }
}

