<div class="vReportTabs vOverrideFAIcons">
  <div class="vTab" *ngFor="let tab of tabs"
       [class.active]="tab.selected" [class.noContent]="!showValue"
       [vTooltip]="tab.tooltip" [escape]="false" [maxWidth]="500"
       (click)="tabClick(tab)" >
    <span class="vTabTitle">{{tab.title}}</span>
    <div class="vValueContainer" *ngIf="showValue">
      <span *ngIf="compareMode" class="vTrend">
        <app-trend-value valueStyleClass="vValue"
                         [value]="tab.value"
                         [trend]="tab.trend"></app-trend-value>
        <span class="vUnits">{{tab.units}}</span>
      </span>
      <ng-container *ngIf="!compareMode">
        <span class="vValue">{{tab.value}}</span>
        <span class="vUnits">{{tab.units}}</span>
      </ng-container>
    </div>
  </div>
</div>
