@import '../../../../styles/variables';

.vReportTabs{
  display: flex;
  width: 100%;
  border-bottom: 1px solid $vGrayscale4;
  .vTab{
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    padding-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    background-color: white;
    cursor: pointer;
    &:hover{
      background-color: $vGrayscale7;
    }
    .vTabTitle{
      font-size: 15px;
      font-weight: 400;
      color: $vGrayscale3;
    }
    .vValueContainer{
      margin-top: auto;
      display: flex;
      align-items: flex-end;
      /deep/ .vValue{
        font-size: 24px;
        font-weight: 400;
        color: $vGrayscale1;
      }
      .vUnits{
        font-size: 13px;
        font-weight: 700;
        color: $vGrayscale3;
        line-height: 20px;
        margin-left: 4px;
      }
    }
    &.active{
      cursor: default;
      border-bottom: 4px solid $vTertiary;
      padding-bottom: 16px;
      .vValueContainer .vValue {
        font-weight: 700;
      }
      .vTabTitle {
        color: $vGrayscale1;
        font-weight: 700;
      }
    }
    &.noContent {
      height: auto;
    }
  }
}
