@import '../../../../styles/variables';

:host {
  display: block;
  width: 100%;
}

.vBulletContainer{
  display: flex;
  align-items: center;
  .vValue{
    font-size: 15px;
    color: $vGrayscale3;
    width: 60px;
  }
  .vBullet{
    width: 70%;
    height: 12px;
    border: 0px solid $vGrayscale5;
    border-radius: 6px;
    overflow: hidden;
    background-color: $vGrayscale5;
    .vBar{
      height: 100%;
      transition: width 0.35s ease-out;
    }
  }
}
