@import '../../../../../../../styles/variables';

:host{
  width: 100%;
}
.vDates {
  font-size: 15px;
  margin-left: 24px;
  margin-bottom: 16px;
  display: inline-block;
}

.vDividerWrapper {
  display: flex;

  .vDivider {
    border-left: 1px solid #d9d9d9;
  }
}

.emptymessage {
  height: 500px;

  .vEmptyMessage {
    top: 115px;
    border-bottom: none;
  }
}

.vEntryLink {
  cursor: pointer;
}

.vThumbnailHolder {
  width: 85px;
  height: 48px;
  cursor: pointer;

  img {
    width: 85px;
  }
}
