@import '../../../../styles/variables';

:host {
  display: block;
  margin-right: 24px;
  margin-bottom: 20px;
}

.vColumn {
  display: flex;
  flex-direction: column;

  .vColumnLabel {
    font-weight: bold;
    margin-bottom: 12px;
  }

  .vColumnContent {
    height: 34px;
  }
}
