@import '../../../../styles/variables';

:host {
  display: block;
  width: 100%;
}


.vBarContainer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px 0;

  .vLabel {
    width: 25%;
    color: $vGrayscale1;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 16px;
  }

  .vBarWrapper {
    display: flex;
    width: 75%;
    flex-direction: column;

    .vBarWrapperRow {
      display: flex;
      flex-direction: row;

      &.vCompare {
        margin-top: 10px;
      }

      .vTrend {
        width: 100%;

        app-trend-value, .vTrendStub {
          display: inline-block;
          width: 60px;
          height: 100%;
          margin-left: 16px;
        }
      }

      .vValue {
        flex: 1 0 auto;
        font-size: 15px;
        color: $vGrayscale3;
        width: 38px;
        margin-right: 24px;
      }

      .vBullet {
        width: 100%;
        height: 18px;
        border: 0 solid $vGrayscale7;
        border-radius: 3px;
        overflow: hidden;
        background-color: $vGrayscale7;

        .vBar {
          height: 100%;
          transition: width 0.35s ease-out;
        }
      }
    }
  }
}
