<div class="vBarContainer">
  <div class="vLabel" [vTooltip]="label" [showOnEllipsis]="true">{{label}}</div>
  <div class="vBarWrapper">
    <div class="vBarWrapperRow">
      <span class="vValue">{{_value}}{{units}}</span>
      <div class="vBullet" [vTooltip]="_tooltip" [escape]="false">
        <div class="vBar" [style.background-color]="_colors[0]" [style.width]="_value+'%'"></div>
      </div>
      <div class="vTrend" *ngIf="_trend" [vTooltip]="_trend.tooltip" [escape]="false">
        <app-trend-value [value]="_trend.value"
                         [units]="_trend.units"
                         [trend]="_trend.trend"></app-trend-value>
      </div>
    </div>
    <div class="vBarWrapperRow vCompare" *ngIf="_compareValue !== null">
      <div class="vValue">{{_compareValue}}{{units}}</div>
      <div class="vBullet" [vTooltip]="_compareTooltip" [escape]="false">
        <div class="vBar" [style.background-color]="_colors[1]" [style.width]="_compareValue+'%'"></div>
      </div>
      <div class="vTrend" *ngIf="_trend">
        <div class="vTrendStub"></div>
      </div>
    </div>
  </div>
</div>
