@import '../../../../../../../styles/variables';

.vEntryDetailsOverlay {
  width: 300px;
  height: 260px;

  v-area-blocker {
    display: block;
  }

  .vEntryThumbnail {
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 140px;
    background-color: $vGrayscale6;
    white-space: nowrap;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &.error{
      border: 1px solid $vGrayscale4;
    }

    img {
      position: absolute;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      margin: auto;
      width: 300px;
      height: auto;
      border-radius: 3px;
    }

    .vEntryName {
      color: #FFFFFF;
      position: absolute;
      bottom: 12px;
      left: 16px;
      width: 264px;
      text-align: left;

      span {
        width: 100%;
        white-space: normal;
        font-weight: bold;
        word-break: break-word;
      }
    }
    .vProtector {
      background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
      position: absolute;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      margin: auto;
      width: 300px;
      height: auto;
      border-radius: 3px;
    }
  }

  .vEntryDetails {
    padding: 12px 16px 16px 16px;

    .vDetailsRow {
      display: flex;
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: bold;

      &:last-child {
        margin-bottom: 0;
      }

      .vLabel {
        color: $vGrayscale3;
        margin-right: 4px;
      }

      .vValue {
        color: $vGrayscale1;
      }
    }
  }
}

.vErrorMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
