<div class="vReport vContent vOverrideFAIcons">
  <div class="vReportHeader">
    <span class="vTitle">{{'app.bandwidth.usersStorage' | translate}}</span>
    <app-export-csv [headers]="_csvExportHeaders" [totalCount]="_totalCount" [reportInputFilter]="filter" [reportType]="reportType"
                    [dimension]="_selectedMetrics" [reportText]="'app.common.noMsg' | translate" [reportTitle]="'app.bandwidth.usersStorage' | translate"></app-export-csv>
    <app-date-filter #dateFilter [dateRange]="_dateRange" [dateRangeType]="_dateRangeType" (filterChange)="_onDateFilterChange($event)"></app-date-filter>
  </div>

  <div class="vFilters">
    <span class="vTitle" *ngIf="!_drillDown.length">{{'app.bandwidth.allUsers' | translate}}</span>
    <div class="kBreadcrumbs" *ngIf="_drillDown.length">
      <a (click)="_onDrillDown('')">{{'app.bandwidth.allUsers' | translate}}</a>
      <span class="separator">/</span>
      <span>{{_drillDown}}</span>
    </div>
    <app-users-filter #userFilter [class.vHidden]="_drillDown.length>0" (filterChange)="_onSearchUsersChange($event)"></app-users-filter>
  </div>

  <vTags *ngIf="_tags.length"
         [title]="''"
         [data]="_tags"
         [labelField]="'fullName'"
         [tooltipField]="'fullName'"
         [clearAllLabel]="'app.common.clearAll' | translate"
         [class.vHidden]="_drillDown.length>0"
         (onTagRemove)="_onRemoveTag($event)"
         (onRemoveAll)="_onRemoveAllTags()">
  </vTags>


  <v-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div class="vReportContent">
      <app-report-tabs [tabs]="_tabsData" [compareMode]="isCompareMode" (tabChange)="_onTabChange($event)"></app-report-tabs>
      <div class="vDimensions">
        <app-time-units [dateFilter]="dateFilter"></app-time-units>
      </div>
      <div class="vChart">
        <div echarts class="vChart" [options]="_barChartData[_selectedMetrics]" *ngIf="_chartType==='bar'"></div>
        <div echarts class="vChart" [options]="_lineChartData[_selectedMetrics]" *ngIf="_chartType==='line'"></div>
      </div>

      <div class="vTable">
        <div class="vToggle">
          <i [class.vIcondropdown_arrow_bottom]="!_showTable" [class.vIcondropdown_arrow_top]="_showTable"></i>
          <a (click)="toggleTable()">{{(_showTable ? 'app.common.hideDetails' : 'app.common.viewDetails') | translate}}</a>
        </div>
        <div class="vTableContainer" [class.vOpen]="_showTable" [class.vClose]="!_showTable">
          <p-table [value]="_tableData" (sortFunction)="_onSortChanged($event)" [customSort]="true" [defaultSortOrder]="-1" [sortField]="_drillDown.length ? 'month_id' : 'total_storage_mb'" [sortOrder]="-1">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of _columns" [pSortableColumn]="(isCompareMode || col === 'name') ? null : col">
                  <div class="vColumnHeader">
                    <span [vTooltip]="'app.bandwidth.enduser_table.' + col | translate" [showOnEllipsis]="true">
                      {{'app.bandwidth.enduser_table.' + col | translate}}
                    </span>
                    <p-sortIcon [field]="col" *ngIf="!isCompareMode && col !== 'name'"></p-sortIcon>
                  </div>
                </th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td *ngFor="let col of _columns; let i = index">
                  <span *ngIf="isCompareMode && data[col]?.value && col !== 'name' && col !== 'month_id' && col !== 'date_id'"
                        class="vTrend"
                        [vTooltip]="data[col].tooltip" [escape]="false" [maxWidth]="500">
                    <app-trend-value [value]="data[col].value"
                                     [units]="data[col].units"
                                     [trend]="data[col].trend"></app-trend-value>
                  </span>
                  <ng-container *ngIf="!isCompareMode || col === 'name' || col === 'month_id' || col === 'date_id'">
                    <span *ngIf="col !== 'name'">{{data[col]}}</span>
                    <a *ngIf="col === 'name'" (click)="_onDrillDown(data[col])" class="nameLink" [vTooltip]="data[col]" [showOnEllipsis]="true">{{data[col]}}</a>
                  </ng-container>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <div class="emptymessage">
                <div class="vEmptyMessage" *ngIf="!_isBusy">{{'app.common.noResults' | translate}}</div>
                <div class="vEmptyMessage" *ngIf="_isBusy">&nbsp;</div>
              </div>
            </ng-template>
          </p-table>
          <p-paginator [rows]="pager.pageSize" (onPageChange)="_onPaginationChanged($event)" [first]="(pager.pageIndex -1) * pager.pageSize" [totalRecords]="_totalCount"></p-paginator>
        </div>
      </div>
    </div>




  </v-area-blocker>

</div>

