<div class="vColumn vAutocompleteFilter">
  <div class="vColumnLabel">{{label}}</div>
  <div class="vColumnContent">
    <vAutoComplete suggestionItemField="item"
                   suggestionSelectableField="isSelectable"
                   [field]="field"
                   [suggestionLabelField]="suggestionLabelField"
                   [multiple]="true"
                   [limitToSuggestions]="true"
                   [minLength]="3"
                   [suggestionsProvider]="provider"
                   [tooltipResolver]="tooltipResolver"
                   [onItemAdding]="onItemAdding"
                   [classField]="classField"
                   (completeMethod)="search.emit($event)"
                   (ngModelChange)="_onSelectionChange()"
                   [(ngModel)]="_selectedValue"></vAutoComplete>
  </div>
</div>

