<div class="vReport vContent vOverrideFAIcons">
  <div class="vFilters">
    <span class="vTitle">{{'app.engagement.topVideos' | translate}}</span>
  </div>
  <div class="vReportContent">
    <v-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
      <app-engagement-top-videos-table *ngIf="_isCompareMode"
                                       [isCompareMode]="_isCompareMode"
                                       [tableData]="_compareTableData"
                                       [dates]="_compareDates"
                                       [firstTimeLoading]="_compareFirstTimeLoading"
                                       [columns]="_columns"></app-engagement-top-videos-table>
      <app-engagement-top-videos-table [tableData]="_tableData"
                                       [showDivider]="_isCompareMode"
                                       [isCompareMode]="_isCompareMode"
                                       [dates]="_currentDates"
                                       [firstTimeLoading]="_firstTimeLoading"
                                       [columns]="_columns"
                                       (sortFieldChanged)="_onSortChanged($event)"></app-engagement-top-videos-table>
    </v-area-blocker>
  </div>
</div>
