<div class="vCompareMetric" *ngIf="_options.length">
  <span class="vCompareMetricLabel">{{ 'app.common.compareMetricTo' | translate:{ 'metricName': _metric } }}</span>

  <p-dropdown [style]="{'width': '172px'}"
              [options]="_options"
              (ngModelChange)="compareTo.emit($event)"
              [(ngModel)]="_selected">
    <ng-template let-option pTemplate="selectedItem">
      <div class="vOptionsLabelWrapper">
        <i *ngIf="option.value" class="vCompareMetricBullet"
           [style.color]="colors ? (colors[option.value] || _defaultColor) : _defaultColor">&bull;</i>
        <span class="vOptionLabel" [vTooltip]="option.label" [showOnEllipsis]="true">{{option.label}}</span>
      </div>
    </ng-template>
    <ng-template let-option pTemplate="item">
      <div class="vOptionsLabelWrapper vItemLabel">
        <i *ngIf="option.value" class="vCompareMetricBullet"
           [style.color]="colors ? (colors[option.value] || _defaultColor) : _defaultColor">&bull;</i>
        <span class="vOptionLabel" [vTooltip]="option.label" [showOnEllipsis]="true">{{option.label}}</span>
      </div>
    </ng-template>
  </p-dropdown>

</div>
