:host {
  display: inline-block;
  margin: 0 16px;
}

.vCompareMetric {
  display: flex;
  align-items: center;

  .vCompareMetricLabel {
    margin-right: 12px;
  }
}

.vOptionsLabelWrapper {
  display: flex;
  align-items: center;

  &.vItemLabel {
    width: calc(100% - 15px);
  }

  .vOptionLabel {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .vCompareMetricBullet {
    font-size: 18px;
    font-style: normal;
    margin-right: 8px
  }
}

:host /deep/ .vCompareMetric {
  .ui-dropdown {
    width: 200px !important;
  }
  .ui-dropdown-item {
    position: relative;

    &:after {
      position: absolute;
      right: 3px;
      top: 9px;
    }
  }
}
