<div class="vReport vOverrideFAIcons vUsers">
  <div class="vFilters">
    <span class="vTitle">{{'app.contributors.contributorsAmount' | translate}}</span>
  </div>
  <v-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="vReportContent">
      <div class="vTotalCount" *ngIf="(!_isCompareMode && _totalUsers !== null) || (_isCompareMode && _totalUsersCompare)">
        <span class="vTitle">{{'app.contributors.returningContributors' | translate}}</span>
        <span class="vValue" *ngIf="!_isCompareMode">{{_totalUsers}}</span>
        <span *ngIf="_isCompareMode && _totalUsersCompare" class="vTrend" [vTooltip]="_totalUsersCompare.tooltip" [escape]="false">
              <i [class]="_totalUsersCompare.trend | appTrend"></i>
              <span class="vValue">{{_totalUsersCompare.value}}</span>
              <span class="vUnits">{{_totalUsersCompare.units}}</span>
            </span>
      </div>
      <div class="vChart">
        <div echarts class="vChart"
             *ngIf="_barChartData && _barChartData?.series && _barChartData?.series[0]?.data?.length"
             [options]="_barChartData"></div>

        <div *ngIf="!_isBusy && (!_barChartData || !_barChartData?.series || !_barChartData?.series[0]?.data?.length)"
             class="vNoResults">
          <span>{{'app.common.noResults' | translate}}</span>
        </div>
      </div>

    </div>
  </v-area-blocker>
</div>

