$vmc-flags-path : './' !default;

.vFlag {
    display: inline-block;
    width: 16px;
    height: 11px;
    background: no-repeat center;
    background-size: contain;

    &.vFlag-ac {
        background-image: url("#{$vmc-flags-path}/ac.gif");
    }
    &.vFlag-ad {
        background-image: url("#{$vmc-flags-path}/ad.gif");
    }
    &.vFlag-ae {
        background-image: url("#{$vmc-flags-path}/ae.gif");
    }
    &.vFlag-af {
        background-image: url("#{$vmc-flags-path}/af.gif");
    }
    &.vFlag-ag {
        background-image: url("#{$vmc-flags-path}/ag.gif");
    }
    &.vFlag-ai {
        background-image: url("#{$vmc-flags-path}/ai.gif");
    }
    &.vFlag-al {
        background-image: url("#{$vmc-flags-path}/al.gif");
    }
    &.vFlag-am {
        background-image: url("#{$vmc-flags-path}/am.gif");
    }
    &.vFlag-an {
        background-image: url("#{$vmc-flags-path}/an.gif");
    }
    &.vFlag-ao {
        background-image: url("#{$vmc-flags-path}/ao.gif");
    }
    &.vFlag-aq {
        background-image: url("#{$vmc-flags-path}/aq.gif");
    }
    &.vFlag-ar {
        background-image: url("#{$vmc-flags-path}/ar.gif");
    }
    &.vFlag-as {
        background-image: url("#{$vmc-flags-path}/as.gif");
    }
    &.vFlag-at {
        background-image: url("#{$vmc-flags-path}/at.gif");
    }
    &.vFlag-au {
        background-image: url("#{$vmc-flags-path}/au.gif");
    }
    &.vFlag-aw {
        background-image: url("#{$vmc-flags-path}/aw.gif");
    }
    &.vFlag-ax {
        background-image: url("#{$vmc-flags-path}/ax.gif");
    }
    &.vFlag-az {
        background-image: url("#{$vmc-flags-path}/az.gif");
    }
    &.vFlag-ba {
        background-image: url("#{$vmc-flags-path}/ba.gif");
    }
    &.vFlag-bb {
        background-image: url("#{$vmc-flags-path}/bb.gif");
    }
    &.vFlag-bd {
        background-image: url("#{$vmc-flags-path}/bd.gif");
    }
    &.vFlag-be {
        background-image: url("#{$vmc-flags-path}/be.gif");
    }
    &.vFlag-bf {
        background-image: url("#{$vmc-flags-path}/bf.gif");
    }
    &.vFlag-bg {
        background-image: url("#{$vmc-flags-path}/bg.gif");
    }
    &.vFlag-bh {
        background-image: url("#{$vmc-flags-path}/bh.gif");
    }
    &.vFlag-bi {
        background-image: url("#{$vmc-flags-path}/bi.gif");
    }
    &.vFlag-bj {
        background-image: url("#{$vmc-flags-path}/bj.gif");
    }
    &.vFlag-bm {
        background-image: url("#{$vmc-flags-path}/bm.gif");
    }
    &.vFlag-bn {
        background-image: url("#{$vmc-flags-path}/bn.gif");
    }
    &.vFlag-bo {
        background-image: url("#{$vmc-flags-path}/bo.gif");
    }
    &.vFlag-br {
        background-image: url("#{$vmc-flags-path}/br.gif");
    }
    &.vFlag-bs {
        background-image: url("#{$vmc-flags-path}/bs.gif");
    }
    &.vFlag-bt {
        background-image: url("#{$vmc-flags-path}/bt.gif");
    }
    &.vFlag-bv {
        background-image: url("#{$vmc-flags-path}/bv.gif");
    }
    &.vFlag-bw {
        background-image: url("#{$vmc-flags-path}/bw.gif");
    }
    &.vFlag-by {
        background-image: url("#{$vmc-flags-path}/by.gif");
    }
    &.vFlag-bz {
        background-image: url("#{$vmc-flags-path}/bz.gif");
    }
    &.vFlag-ca {
        background-image: url("#{$vmc-flags-path}/ca.gif");
    }
    &.vFlag-catalonia {
        background-image: url("#{$vmc-flags-path}/catalonia.gif");
    }
    &.vFlag-cc {
        background-image: url("#{$vmc-flags-path}/cc.gif");
    }
    &.vFlag-cd {
        background-image: url("#{$vmc-flags-path}/cd.gif");
    }
    &.vFlag-cf {
        background-image: url("#{$vmc-flags-path}/cf.gif");
    }
    &.vFlag-cg {
        background-image: url("#{$vmc-flags-path}/cg.gif");
    }
    &.vFlag-ch {
        background-image: url("#{$vmc-flags-path}/ch.gif");
    }
    &.vFlag-ci {
        background-image: url("#{$vmc-flags-path}/ci.gif");
    }
    &.vFlag-ck {
        background-image: url("#{$vmc-flags-path}/ck.gif");
    }
    &.vFlag-cl {
        background-image: url("#{$vmc-flags-path}/cl.gif");
    }
    &.vFlag-cm {
        background-image: url("#{$vmc-flags-path}/cm.gif");
    }
    &.vFlag-cn {
        background-image: url("#{$vmc-flags-path}/cn.gif");
    }
    &.vFlag-co {
        background-image: url("#{$vmc-flags-path}/co.gif");
    }
    &.vFlag-cr {
        background-image: url("#{$vmc-flags-path}/cr.gif");
    }
    &.vFlag-cs {
        background-image: url("#{$vmc-flags-path}/cs.gif");
    }
    &.vFlag-cu {
        background-image: url("#{$vmc-flags-path}/cu.gif");
    }
    &.vFlag-cv {
        background-image: url("#{$vmc-flags-path}/cv.gif");
    }
    &.vFlag-cx {
        background-image: url("#{$vmc-flags-path}/cx.gif");
    }
    &.vFlag-cy {
        background-image: url("#{$vmc-flags-path}/cy.gif");
    }
    &.vFlag-cz {
        background-image: url("#{$vmc-flags-path}/cz.gif");
    }
    &.vFlag-de {
        background-image: url("#{$vmc-flags-path}/de.gif");
    }
    &.vFlag-dj {
        background-image: url("#{$vmc-flags-path}/dj.gif");
    }
    &.vFlag-dk {
        background-image: url("#{$vmc-flags-path}/dk.gif");
    }
    &.vFlag-dm {
        background-image: url("#{$vmc-flags-path}/dm.gif");
    }
    &.vFlag-do {
        background-image: url("#{$vmc-flags-path}/do.gif");
    }
    &.vFlag-dz {
        background-image: url("#{$vmc-flags-path}/dz.gif");
    }
    &.vFlag-ec {
        background-image: url("#{$vmc-flags-path}/ec.gif");
    }
    &.vFlag-ee {
        background-image: url("#{$vmc-flags-path}/ee.gif");
    }
    &.vFlag-eg {
        background-image: url("#{$vmc-flags-path}/eg.gif");
    }
    &.vFlag-eh {
        background-image: url("#{$vmc-flags-path}/eh.gif");
    }
    &.vFlag-england {
        background-image: url("#{$vmc-flags-path}/england.gif");
    }
    &.vFlag-er {
        background-image: url("#{$vmc-flags-path}/er.gif");
    }
    &.vFlag-es {
        background-image: url("#{$vmc-flags-path}/es.gif");
    }
    &.vFlag-et {
        background-image: url("#{$vmc-flags-path}/et.gif");
    }
    &.vFlag-europeanunion {
        background-image: url("#{$vmc-flags-path}/europeanunion.gif");
    }
    &.vFlag-fam {
        background-image: url("#{$vmc-flags-path}/fam.gif");
    }
    &.vFlag-fi {
        background-image: url("#{$vmc-flags-path}/fi.gif");
    }
    &.vFlag-fj {
        background-image: url("#{$vmc-flags-path}/fj.gif");
    }
    &.vFlag-fk {
        background-image: url("#{$vmc-flags-path}/fk.gif");
    }
    &.vFlag-fm {
        background-image: url("#{$vmc-flags-path}/fm.gif");
    }
    &.vFlag-fo {
        background-image: url("#{$vmc-flags-path}/fo.gif");
    }
    &.vFlag-fr {
        background-image: url("#{$vmc-flags-path}/fr.gif");
    }
    &.vFlag-ga {
        background-image: url("#{$vmc-flags-path}/ga.gif");
    }
    &.vFlag-gb {
        background-image: url("#{$vmc-flags-path}/gb.gif");
    }
    &.vFlag-gd {
        background-image: url("#{$vmc-flags-path}/gd.gif");
    }
    &.vFlag-ge {
        background-image: url("#{$vmc-flags-path}/ge.gif");
    }
    &.vFlag-gf {
        background-image: url("#{$vmc-flags-path}/gf.gif");
    }
    &.vFlag-gg {
        background-image: url("#{$vmc-flags-path}/gg.gif");
    }
    &.vFlag-gh {
        background-image: url("#{$vmc-flags-path}/gh.gif");
    }
    &.vFlag-gi {
        background-image: url("#{$vmc-flags-path}/gi.gif");
    }
    &.vFlag-gl {
        background-image: url("#{$vmc-flags-path}/gl.gif");
    }
    &.vFlag-gm {
        background-image: url("#{$vmc-flags-path}/gm.gif");
    }
    &.vFlag-gn {
        background-image: url("#{$vmc-flags-path}/gn.gif");
    }
    &.vFlag-gp {
        background-image: url("#{$vmc-flags-path}/gp.gif");
    }
    &.vFlag-gq {
        background-image: url("#{$vmc-flags-path}/gq.gif");
    }
    &.vFlag-gr {
        background-image: url("#{$vmc-flags-path}/gr.gif");
    }
    &.vFlag-gs {
        background-image: url("#{$vmc-flags-path}/gs.gif");
    }
    &.vFlag-gt {
        background-image: url("#{$vmc-flags-path}/gt.gif");
    }
    &.vFlag-gu {
        background-image: url("#{$vmc-flags-path}/gu.gif");
    }
    &.vFlag-gw {
        background-image: url("#{$vmc-flags-path}/gw.gif");
    }
    &.vFlag-gy {
        background-image: url("#{$vmc-flags-path}/gy.gif");
    }
    &.vFlag-hk {
        background-image: url("#{$vmc-flags-path}/hk.gif");
    }
    &.vFlag-hm {
        background-image: url("#{$vmc-flags-path}/hm.gif");
    }
    &.vFlag-hn {
        background-image: url("#{$vmc-flags-path}/hn.gif");
    }
    &.vFlag-hr {
        background-image: url("#{$vmc-flags-path}/hr.gif");
    }
    &.vFlag-ht {
        background-image: url("#{$vmc-flags-path}/ht.gif");
    }
    &.vFlag-hu {
        background-image: url("#{$vmc-flags-path}/hu.gif");
    }
    &.vFlag-id {
        background-image: url("#{$vmc-flags-path}/id.gif");
    }
    &.vFlag-ie {
        background-image: url("#{$vmc-flags-path}/ie.gif");
    }
    &.vFlag-il {
        background-image: url("#{$vmc-flags-path}/il.gif");
    }
    &.vFlag-im {
        background-image: url("#{$vmc-flags-path}/im.gif");
    }
    &.vFlag-in {
        background-image: url("#{$vmc-flags-path}/in.gif");
    }
    &.vFlag-io {
        background-image: url("#{$vmc-flags-path}/io.gif");
    }
    &.vFlag-iq {
        background-image: url("#{$vmc-flags-path}/iq.gif");
    }
    &.vFlag-ir {
        background-image: url("#{$vmc-flags-path}/ir.gif");
    }
    &.vFlag-is {
        background-image: url("#{$vmc-flags-path}/is.gif");
    }
    &.vFlag-it {
        background-image: url("#{$vmc-flags-path}/it.gif");
    }
    &.vFlag-je {
        background-image: url("#{$vmc-flags-path}/je.gif");
    }
    &.vFlag-jm {
        background-image: url("#{$vmc-flags-path}/jm.gif");
    }
    &.vFlag-jo {
        background-image: url("#{$vmc-flags-path}/jo.gif");
    }
    &.vFlag-jp {
        background-image: url("#{$vmc-flags-path}/jp.gif");
    }
    &.vFlag-ke {
        background-image: url("#{$vmc-flags-path}/ke.gif");
    }
    &.vFlag-kg {
        background-image: url("#{$vmc-flags-path}/kg.gif");
    }
    &.vFlag-kh {
        background-image: url("#{$vmc-flags-path}/kh.gif");
    }
    &.vFlag-ki {
        background-image: url("#{$vmc-flags-path}/ki.gif");
    }
    &.vFlag-km {
        background-image: url("#{$vmc-flags-path}/km.gif");
    }
    &.vFlag-kn {
        background-image: url("#{$vmc-flags-path}/kn.gif");
    }
    &.vFlag-kp {
        background-image: url("#{$vmc-flags-path}/kp.gif");
    }
    &.vFlag-kr {
        background-image: url("#{$vmc-flags-path}/kr.gif");
    }
    &.vFlag-kw {
        background-image: url("#{$vmc-flags-path}/kw.gif");
    }
    &.vFlag-ky {
        background-image: url("#{$vmc-flags-path}/ky.gif");
    }
    &.vFlag-kz {
        background-image: url("#{$vmc-flags-path}/kz.gif");
    }
    &.vFlag-la {
        background-image: url("#{$vmc-flags-path}/la.gif");
    }
    &.vFlag-lb {
        background-image: url("#{$vmc-flags-path}/lb.gif");
    }
    &.vFlag-lc {
        background-image: url("#{$vmc-flags-path}/lc.gif");
    }
    &.vFlag-li {
        background-image: url("#{$vmc-flags-path}/li.gif");
    }
    &.vFlag-lk {
        background-image: url("#{$vmc-flags-path}/lk.gif");
    }
    &.vFlag-lr {
        background-image: url("#{$vmc-flags-path}/lr.gif");
    }
    &.vFlag-ls {
        background-image: url("#{$vmc-flags-path}/ls.gif");
    }
    &.vFlag-lt {
        background-image: url("#{$vmc-flags-path}/lt.gif");
    }
    &.vFlag-lu {
        background-image: url("#{$vmc-flags-path}/lu.gif");
    }
    &.vFlag-lv {
        background-image: url("#{$vmc-flags-path}/lv.gif");
    }
    &.vFlag-ly {
        background-image: url("#{$vmc-flags-path}/ly.gif");
    }
    &.vFlag-ma {
        background-image: url("#{$vmc-flags-path}/ma.gif");
    }
    &.vFlag-mc {
        background-image: url("#{$vmc-flags-path}/mc.gif");
    }
    &.vFlag-md {
        background-image: url("#{$vmc-flags-path}/md.gif");
    }
    &.vFlag-me {
        background-image: url("#{$vmc-flags-path}/me.gif");
    }
    &.vFlag-mf {
        background-image: url("#{$vmc-flags-path}/fr.gif");
    }
    &.vFlag-mg {
        background-image: url("#{$vmc-flags-path}/mg.gif");
    }
    &.vFlag-mh {
        background-image: url("#{$vmc-flags-path}/mh.gif");
    }
    &.vFlag-mk {
        background-image: url("#{$vmc-flags-path}/mk.gif");
    }
    &.vFlag-ml {
        background-image: url("#{$vmc-flags-path}/ml.gif");
    }
    &.vFlag-mm {
        background-image: url("#{$vmc-flags-path}/mm.gif");
    }
    &.vFlag-mn {
        background-image: url("#{$vmc-flags-path}/mn.gif");
    }
    &.vFlag-mo {
        background-image: url("#{$vmc-flags-path}/mo.gif");
    }
    &.vFlag-mp {
        background-image: url("#{$vmc-flags-path}/mp.gif");
    }
    &.vFlag-mq {
        background-image: url("#{$vmc-flags-path}/mq.gif");
    }
    &.vFlag-mr {
        background-image: url("#{$vmc-flags-path}/mr.gif");
    }
    &.vFlag-ms {
        background-image: url("#{$vmc-flags-path}/ms.gif");
    }
    &.vFlag-mt {
        background-image: url("#{$vmc-flags-path}/mt.gif");
    }
    &.vFlag-mu {
        background-image: url("#{$vmc-flags-path}/mu.gif");
    }
    &.vFlag-mv {
        background-image: url("#{$vmc-flags-path}/mv.gif");
    }
    &.vFlag-mw {
        background-image: url("#{$vmc-flags-path}/mw.gif");
    }
    &.vFlag-mx {
        background-image: url("#{$vmc-flags-path}/mx.gif");
    }
    &.vFlag-my {
        background-image: url("#{$vmc-flags-path}/my.gif");
    }
    &.vFlag-mz {
        background-image: url("#{$vmc-flags-path}/mz.gif");
    }
    &.vFlag-na {
        background-image: url("#{$vmc-flags-path}/na.gif");
    }
    &.vFlag-nc {
        background-image: url("#{$vmc-flags-path}/nc.gif");
    }
    &.vFlag-ne {
        background-image: url("#{$vmc-flags-path}/ne.gif");
    }
    &.vFlag-nf {
        background-image: url("#{$vmc-flags-path}/nf.gif");
    }
    &.vFlag-ng {
        background-image: url("#{$vmc-flags-path}/ng.gif");
    }
    &.vFlag-ni {
        background-image: url("#{$vmc-flags-path}/ni.gif");
    }
    &.vFlag-nl {
        background-image: url("#{$vmc-flags-path}/nl.gif");
    }
    &.vFlag-no {
        background-image: url("#{$vmc-flags-path}/no.gif");
    }
    &.vFlag-np {
        background-image: url("#{$vmc-flags-path}/np.gif");
    }
    &.vFlag-nr {
        background-image: url("#{$vmc-flags-path}/nr.gif");
    }
    &.vFlag-nu {
        background-image: url("#{$vmc-flags-path}/nu.gif");
    }
    &.vFlag-nz {
        background-image: url("#{$vmc-flags-path}/nz.gif");
    }
    &.vFlag-om {
        background-image: url("#{$vmc-flags-path}/om.gif");
    }
    &.vFlag-pa {
        background-image: url("#{$vmc-flags-path}/pa.gif");
    }
    &.vFlag-pe {
        background-image: url("#{$vmc-flags-path}/pe.gif");
    }
    &.vFlag-pf {
        background-image: url("#{$vmc-flags-path}/pf.gif");
    }
    &.vFlag-pg {
        background-image: url("#{$vmc-flags-path}/pg.gif");
    }
    &.vFlag-ph {
        background-image: url("#{$vmc-flags-path}/ph.gif");
    }
    &.vFlag-pk {
        background-image: url("#{$vmc-flags-path}/pk.gif");
    }
    &.vFlag-pl {
        background-image: url("#{$vmc-flags-path}/pl.gif");
    }
    &.vFlag-pm {
        background-image: url("#{$vmc-flags-path}/pm.gif");
    }
    &.vFlag-pn {
        background-image: url("#{$vmc-flags-path}/pn.gif");
    }
    &.vFlag-pr {
        background-image: url("#{$vmc-flags-path}/pr.gif");
    }
    &.vFlag-ps {
        background-image: url("#{$vmc-flags-path}/ps.gif");
    }
    &.vFlag-pt {
        background-image: url("#{$vmc-flags-path}/pt.gif");
    }
    &.vFlag-pw {
        background-image: url("#{$vmc-flags-path}/pw.gif");
    }
    &.vFlag-py {
        background-image: url("#{$vmc-flags-path}/py.gif");
    }
    &.vFlag-qa {
        background-image: url("#{$vmc-flags-path}/qa.gif");
    }
    &.vFlag-re {
        background-image: url("#{$vmc-flags-path}/re.gif");
    }
    &.vFlag-ro {
        background-image: url("#{$vmc-flags-path}/ro.gif");
    }
    &.vFlag-rs {
        background-image: url("#{$vmc-flags-path}/rs.gif");
    }
    &.vFlag-ru {
        background-image: url("#{$vmc-flags-path}/ru.gif");
    }
    &.vFlag-rw {
        background-image: url("#{$vmc-flags-path}/rw.gif");
    }
    &.vFlag-sa {
        background-image: url("#{$vmc-flags-path}/sa.gif");
    }
    &.vFlag-sb {
        background-image: url("#{$vmc-flags-path}/sb.gif");
    }
    &.vFlag-sc {
        background-image: url("#{$vmc-flags-path}/sc.gif");
    }
    &.vFlag-scotland {
        background-image: url("#{$vmc-flags-path}/scotland.gif");
    }
    &.vFlag-sd {
        background-image: url("#{$vmc-flags-path}/sd.gif");
    }
    &.vFlag-se {
        background-image: url("#{$vmc-flags-path}/se.gif");
    }
    &.vFlag-sg {
        background-image: url("#{$vmc-flags-path}/sg.gif");
    }
    &.vFlag-sh {
        background-image: url("#{$vmc-flags-path}/sh.gif");
    }
    &.vFlag-si {
        background-image: url("#{$vmc-flags-path}/si.gif");
    }
    &.vFlag-sj {
        background-image: url("#{$vmc-flags-path}/sj.gif");
    }
    &.vFlag-sk {
        background-image: url("#{$vmc-flags-path}/sk.gif");
    }
    &.vFlag-sl {
        background-image: url("#{$vmc-flags-path}/sl.gif");
    }
    &.vFlag-sm {
        background-image: url("#{$vmc-flags-path}/sm.gif");
    }
    &.vFlag-sn {
        background-image: url("#{$vmc-flags-path}/sn.gif");
    }
    &.vFlag-so {
        background-image: url("#{$vmc-flags-path}/so.gif");
    }
    &.vFlag-sr {
        background-image: url("#{$vmc-flags-path}/sr.gif");
    }
    &.vFlag-st {
        background-image: url("#{$vmc-flags-path}/st.gif");
    }
    &.vFlag-sv {
        background-image: url("#{$vmc-flags-path}/sv.gif");
    }
    &.vFlag-sy {
        background-image: url("#{$vmc-flags-path}/sy.gif");
    }
    &.vFlag-sz {
        background-image: url("#{$vmc-flags-path}/sz.gif");
    }
    &.vFlag-ta {
        background-image: url("#{$vmc-flags-path}/ta.gif");
    }
    &.vFlag-tc {
        background-image: url("#{$vmc-flags-path}/tc.gif");
    }
    &.vFlag-td {
        background-image: url("#{$vmc-flags-path}/td.gif");
    }
    &.vFlag-tf {
        background-image: url("#{$vmc-flags-path}/tf.gif");
    }
    &.vFlag-tg {
        background-image: url("#{$vmc-flags-path}/tg.gif");
    }
    &.vFlag-th {
        background-image: url("#{$vmc-flags-path}/th.gif");
    }
    &.vFlag-tj {
        background-image: url("#{$vmc-flags-path}/tj.gif");
    }
    &.vFlag-tk {
        background-image: url("#{$vmc-flags-path}/tk.gif");
    }
    &.vFlag-tl {
        background-image: url("#{$vmc-flags-path}/tl.gif");
    }
    &.vFlag-tm {
        background-image: url("#{$vmc-flags-path}/tm.gif");
    }
    &.vFlag-tn {
        background-image: url("#{$vmc-flags-path}/tn.gif");
    }
    &.vFlag-to {
        background-image: url("#{$vmc-flags-path}/to.gif");
    }
    &.vFlag-tp {
        background-image: url("#{$vmc-flags-path}/tp.gif");
    }
    &.vFlag-tr {
        background-image: url("#{$vmc-flags-path}/tr.gif");
    }
    &.vFlag-tt {
        background-image: url("#{$vmc-flags-path}/tt.gif");
    }
    &.vFlag-tv {
        background-image: url("#{$vmc-flags-path}/tv.gif");
    }
    &.vFlag-tw {
        background-image: url("#{$vmc-flags-path}/tw.gif");
    }
    &.vFlag-tz {
        background-image: url("#{$vmc-flags-path}/tz.gif");
    }
    &.vFlag-ua {
        background-image: url("#{$vmc-flags-path}/ua.gif");
    }
    &.vFlag-ug {
        background-image: url("#{$vmc-flags-path}/ug.gif");
    }
    &.vFlag-uk {
        background-image: url("#{$vmc-flags-path}/uk.gif");
    }
    &.vFlag-um {
        background-image: url("#{$vmc-flags-path}/um.gif");
    }
    &.vFlag-us {
        background-image: url("#{$vmc-flags-path}/us.gif");
    }
    &.vFlag-uy {
        background-image: url("#{$vmc-flags-path}/uy.gif");
    }
    &.vFlag-uz {
        background-image: url("#{$vmc-flags-path}/uz.gif");
    }
    &.vFlag-va {
        background-image: url("#{$vmc-flags-path}/va.gif");
    }
    &.vFlag-vc {
        background-image: url("#{$vmc-flags-path}/vc.gif");
    }
    &.vFlag-ve {
        background-image: url("#{$vmc-flags-path}/ve.gif");
    }
    &.vFlag-vg {
        background-image: url("#{$vmc-flags-path}/vg.gif");
    }
    &.vFlag-vi {
        background-image: url("#{$vmc-flags-path}/vi.gif");
    }
    &.vFlag-vn {
        background-image: url("#{$vmc-flags-path}/vn.gif");
    }
    &.vFlag-vu {
        background-image: url("#{$vmc-flags-path}/vu.gif");
    }
    &.vFlag-wales {
        background-image: url("#{$vmc-flags-path}/wales.gif");
    }
    &.vFlag-wf {
        background-image: url("#{$vmc-flags-path}/wf.gif");
    }
    &.vFlag-ws {
        background-image: url("#{$vmc-flags-path}/ws.gif");
    }
    &.vFlag-ye {
        background-image: url("#{$vmc-flags-path}/ye.gif");
    }
    &.vFlag-yt {
        background-image: url("#{$vmc-flags-path}/yt.gif");
    }
    &.vFlag-yu {
        background-image: url("#{$vmc-flags-path}/yu.gif");
    }
    &.vFlag-za {
        background-image: url("#{$vmc-flags-path}/za.gif");
    }
    &.vFlag-zm {
        background-image: url("#{$vmc-flags-path}/zm.gif");
    }
    &.vFlag-zw {
        background-image: url("#{$vmc-flags-path}/zw.gif");
    }

}

