<div data-aid="report-mini-peak-day" class="vReport vMini vOverrideFAIcons">
  <div class="vFilters">
    <span class="vTitle">{{'app.engagement.insights' | translate}}</span>
  </div>

  <v-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div class="vReportContent" *ngIf="_peakDayData">
      <div class="peakDayHolder">
        <span class="peakDay">{{_peakDayData?.date_id}}</span>
        <span class="peakDayLable" *ngIf="_peakDayData?.date_id && _peakDayData?.date_id.length">{{'app.engagement.peak' | translate}}</span>
      </div>
      <div class="vValueHolder" *ngIf="_peakDayData?.date_id && _peakDayData?.date_id.length">
        <i class="icon-small-play vBlue"></i>
        <span class="vVal">{{_peakDayData?.count_plays}}</span>
        <span class="vLabel">{{'app.engagement.plays' | translate}}</span>
      </div>
      <div class="vValueHolder" *ngIf="_peakDayData?.date_id && _peakDayData?.date_id.length">
        <i class="icon-small-viewer-contributor vGreen"></i>
        <span class="vVal">{{_peakDayData?.unique_known_users}}</span>
        <span class="vLabel">{{'app.engagement.highlightsReport.unique_known_users' | translate}}</span>
      </div>
      <div class="vValueHolder" *ngIf="_peakDayData?.date_id && _peakDayData?.date_id.length">
        <i class="icon-small-time vOrange"></i>
        <span class="vVal">{{_peakDayData?.sum_time_viewed}}</span>
        <span class="vLabel">{{'app.engagement.highlightsReport.sum_time_viewed' | translate}}</span>
      </div>
    </div>
    <div class="vReportContent vNoResults" *ngIf="!_isBusy && !_peakDayData">
      <span>{{'app.common.noResults' | translate}}</span>
    </div>
  </v-area-blocker>
</div>
