<div data-aid="report-entry-preview" class="vReport vTotals vOverrideFAIcons">
  <v-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div style="display: flex; flex-direction: column; width: 100%">
      <div class="vPlayer">
        <app-v-player #player [id]="'analytics'" [cdnUrl]="serverUri" [pid]="_playerConfig.pid"
                      [uiconfid]="_playerConfig.uiconfid" [entryid]="_playerConfig.entryid"
                      [flashvars]="_playerConfig.flashvars" [lazy]="true"
                      (vidiunPlayerReady)="onPlayerReady($event)"></app-v-player>

      </div>

      <div class="chartContainer">
        <div echarts class="vChart" [options]="_chartOptions" (click)="onChartClick($event)"></div>
        <div class="vScrubber" [style.width.%]="_playProgress" [class.vHidden]="!_playerPlayed">
          <div class="vLine"></div>
          <span class="vCurrentTime">{{_currentTime | appDuration}}</span>
        </div>
        <div class="vFooter">
          <span>0:00</span>
          <span class="vDuration">{{_duration | appDuration}}</span>
        </div>
      </div>
    </div>
  </v-area-blocker>
</div>

