@import '../../../../../../../styles/variables';

.vDates {
  font-size: 15px;
  margin-left: 24px;
  margin-bottom: 16px;
  display: inline-block;
}

.vTopVideoEntryColumn {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin-top: -24px;

  .vEntryName {
    font-size: 18px;
    color: $vGrayscale1;
    margin-bottom: 12px;
  }

  .vEntryDetails {
    color: $vGrayscale3;
  }

  .vCreated{
    margin-left: 4px;
  }
}

.vTopVideoRow {
  height: 100px;

  .vReportRowIndex {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: $vGrayscale3;

    span {
      position: absolute;
      top: -35px;
      left: 4px;
    }

    &.vFirst {
      margin-right: 28px;

      img {
        z-index: 1;
        position: absolute;
        top: -50px;
        left: -7px;
      }

      span {
        z-index: 2;
        position: absolute;
        top: -35px;
        left: 4px;
        color: $vGrayscale1
      }

    }
  }
}

.vTableCell {
  color: $vGrayscale1;
  display: flex;
  align-items: center;

  i {
    margin-right: 10px;
  }

  .icon-small-play {
    color: #487ADF;
  }

  .icon-small-contribution {
    color: #9B64E6;
  }

  .icon-small-time {
    color: #E1962E;
  }

  .vCellValue {
    font-weight: bold;
  }
}

.vScore {
  text-align: right;

  span {
    color: $vGrayscale1;
    font-size: 18px;
    font-weight: bold;
    padding-right: 24px;
  }
  .vIconhelp_full{
    font-size: 15px;
    &:hover{
      color: $vSecondary;
      cursor: pointer;
    }
  }

  .vTop {
    font-size: 15px;
    color: $vGrayscale3;
  }
}

.vDividerWrapper {
  display: flex;
  height: 532px;

  .vDivider {
    border-left: 1px solid #d9d9d9;
  }
}

.vUser {
  width: 72px;
  height: 72px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(49,190,166,0.2);

  i {
    display: inline-block;
    font-size: 22px;
    color: #31BEA6;
  }
}

.emptymessage {
  height: 532px;

  .vEmptyMessage {
    top: 115px;
    border-bottom: none;
  }
}
