<div class="vDateFilter vOverrideFAIcons">

  <div #datesBtn class="datesRangeDropDown" [class.comparing]="comparing" (click)="openPopup()">
    <i *ngIf="comparing" class="compareIcon icon-bolt"></i>
    <span>{{_dateRangeLabel}}</span>
    <i class="vIcondropdown_arrow_bottom"></i>
  </div>
  <a *ngIf="comparing" class="vExitCompare" (click)="exitCompare()">{{'app.dateFilter.exit' | translate}}</a>

</div>


<vPopupWidget #datesPopup [attr.data-aid]="'date-filter-' + name"
              [popupWidth]="420" [closeBtn]="false" [targetRef]="datesBtn" [targetOffset]="{'x':-210, 'y': 42}">
  <ng-template>
    <div class="vDateFilterPopup vOverrideFAIcons">

      <div class="vViews">
        <p-selectButton [options]="viewItems" [(ngModel)]="selectedView" (ngModelChange)="resetCompare()"></p-selectButton>
      </div>
      <div class="vFilters vPreset" *ngIf="selectedView==='preset'">
        <div class="col">
          <span class="vTitle">{{'app.dateFilter.last' | translate | uppercase}}</span>
          <p-radioButton *ngFor="let _dateRangeLast of lastDateRangeItems" name="dates" [label]="_dateRangeLast.label" [value]="_dateRangeLast.value.val" [vTooltip]="_dateRangeLast.value.tooltip" [placement]="'left'" [(ngModel)]="selectedDateRange" (onClick)="updateCompareMax(); resetCompare()"></p-radioButton>
        </div>
        <div class="col">
          <span class="vTitle">{{'app.dateFilter.current' | translate | uppercase}}</span>
          <p-radioButton *ngFor="let _dateRangeCurrent of currDateRangeItems" name="dates" [label]="_dateRangeCurrent.label" [value]="_dateRangeCurrent.value.val" [vTooltip]="_dateRangeCurrent.value.tooltip" [placement]="'right'" [(ngModel)]="selectedDateRange" (onClick)="updateCompareMax(); resetCompare()"></p-radioButton>
        </div>
      </div>
      <div class="vFilters vSpecific" *ngIf="selectedView==='specific'">
        <p-calendar [(ngModel)]="specificDateRange" [inline]="true" selectionMode="range" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="'2010:2050'" (ngModelChange)="updateCompareMax()"></p-calendar>
      </div>
      <hr>
      <div class="vCompare" *ngIf="showCompare">
        <p-checkbox [label]="'app.dateFilter.compare' | translate" [(ngModel)]="compare" binary="true"></p-checkbox>
        <p-radioButton name="compare" value="lastYear" [class.vHidden]="!compare" [(ngModel)]="selectedComparePeriod" [label]="'app.dateFilter.comparelastyear' | translate"></p-radioButton>
        <p-radioButton name="compare" value="specific" [class.vHidden]="!compare" [(ngModel)]="selectedComparePeriod" (ngModelChange)="updateSpecificCompareStartDate()" [label]="'app.dateFilter.comparespecific' | translate"></p-radioButton>
        <p-calendar [showIcon]="true" icon="vIconcalendar" [class.vHidden]="!compare || selectedComparePeriod!=='specific'" [(ngModel)]="specificCompareStartDate" [maxDate]="compareMaxDate" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="'2010:2050'"></p-calendar>
      </div>
      <button pButton class="vButtonBranded"
              [disabled]="_applyDisabled"
              [label]="'app.common.apply' | translate"
              (click)="updateDataRanges();datesPopup.close()"></button>
    </div>
  </ng-template>
</vPopupWidget>
