@import '../../../../../../../styles/variables';

.vContributorDetailsOverlay {
  width: 280px;
  height: 151px;

  v-area-blocker {
    display: block;
  }

  .vContributorName {
    padding: 19px 16px;
    font-weight: bold;
    border-bottom: 1px solid $vGrayscale4;
  }

  .vContributorDetails {
    padding: 12px 16px 16px 16px;

    .vDetailsRow {
      display: flex;
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: bold;
      overflow: hidden;

      &:last-child {
        margin-bottom: 0;
      }

      .vLabel {
        color: $vGrayscale3;
        margin-right: 4px;
      }

      .kValue {
        color: $kGrayscale1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.vErrorMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
