<div data-aid="report-contributors-mini-higlights" class="kReport kMini kOverrideFAIcons">
  <div class="kFilters">
    <span class="kTitle">{{'app.contributors.highlights' | translate}}</span>
    <kInputHelper>
      <span>{{'app.contributors.highlights_tt' | translate}}</span>
    </kInputHelper>
    <a (click)="scrollTo('#highlights-report')" class="kDetails">{{'app.common.details' | translate}}</a>
  </div>

  <v-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="vReportContent">
      <div class="vVal">
        <div class="vMiniIcon green"><i class="icon-small-viewer-contributor"></i></div>
        <span *ngIf="!_isCompareMode" class="value">{{_tabsData[0]?.value}}</span>
        <span *ngIf="_isCompareMode" class="vTrend" [vTooltip]="_tabsData[0]?.tooltip" [escape]="false">
          <app-trend-value valueStyleClass="vValue"
                           unitsStyleClass="vUnits"
                           [value]="_tabsData[0]?.value"
                           [units]="_tabsData[0]?.units"
                           [trend]="_tabsData[0]?.trend"></app-trend-value>
          </span>
        <span class="title">{{_tabsData[0]?.title}}</span>
      </div>
      <div class="vVal">
        <div class="vMiniIcon purple"><i class="icon-small-contribution"></i></div>
        <span *ngIf="!_isCompareMode" class="value">{{_tabsData[1]?.value}}</span>
        <span *ngIf="_isCompareMode" class="vTrend" [vTooltip]="_tabsData[1]?.tooltip" [escape]="false">
          <app-trend-value valueStyleClass="vValue"
                           unitsStyleClass="vUnits"
                           [value]="_tabsData[1]?.value"
                           [units]="_tabsData[1]?.units"
                           [trend]="_tabsData[1]?.trend"></app-trend-value>
        </span>
        <span class="title">{{_tabsData[1]?.title}}</span>
      </div>
      <div class="vVal">
        <div class="vMiniIcon orange"><i class="icon-small-time"></i></div>
        <span *ngIf="!_isCompareMode" class="value">{{_tabsData[2]?.value}}</span>
        <span *ngIf="_isCompareMode" class="vTrend" [vTooltip]="_tabsData[2]?.tooltip" [escape]="false">
          <app-trend-value valueStyleClass="vValue"
                           unitsStyleClass="vUnits"
                           [value]="_tabsData[2]?.value"
                           [units]="_tabsData[2]?.units"
                           [trend]="_tabsData[2]?.trend"></app-trend-value>
        </span>
        <span class="title">{{_tabsData[2]?.title}}</span>
      </div>

    </div>

  </v-area-blocker>
</div>

