@import '../../../../styles/variables';

.vChartContainer {
  padding: 0 24px;

  .vTable {
    min-height: 200px;

    .vTableRow {
      display: flex;
      align-items: center;

      .vRowIndex {
        width: 40px;
        color: $vGrayscale3;
      }
    }
  }

  .emptymessage {
    line-height: 200px;
    font-size: 28px;
    color: $vGrayscale3;

    .vEmptyMessage {
      text-align: center;
      border-bottom: none;
    }
  }
}

.vCustomLegend {
  display: flex;
  margin-bottom: 24px;

  .vLegendItemContainer {
    display: flex;
    align-items: center;
    height: 20px;
    margin-right: 24px;

    .vLegendItem {
      font-size: 12px;
      font-weight: bold;
      color: $vGrayscale1;
    }

    .vCircle {
      width: 10px;
      height: 10px;
      border-radius: 5px;
      margin-right: 8px;
    }
  }
}
