<div data-aid="report-moderation"class="vReport vOverrideFAIcons vAbuseReport">
  <div class="vFilters">
    <span class="vTitle">{{'app.contentInteractions.abuseReportReasons' | translate}}</span>
  </div>
  <v-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div class="vReportContent">
      <app-horizontal-bar-chart colorScheme="moderation"
                                [data]="_tableData"
                                [totalCount]="_totalCount"
                                [currentPeriod]="_currentPeriod"
                                [comparePeriod]="_comparePeriod"
                                [isCompareMode]="_isCompareMode"
                                [firstTimeLoading]="_firstTimeLoading"></app-horizontal-bar-chart>
    </div>
  </v-area-blocker>
</div>

