<div data-aid="report-top-contributors" class="vReport vContent vOverrideFAIcons">
  <div class="vFilters">
    <span class="vTitle">{{'app.contributors.top-contributors' | translate}}</span>
    <vInputHelper>
      <span>{{'app.contributors.top-contributors_tt' | translate}}</span>
    </vInputHelper>
  </div>
  <div class="vReportContent vContent">
    <v-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
      <app-contributors-top-contributors-table *ngIf="_isCompareMode"
                                               name="compare"
                                               [isCompareMode]="_isCompareMode"
                                               [tableData]="_compareTableData"
                                               [dates]="_compareDates"
                                               [firstTimeLoading]="_compareFirstTimeLoading"
                                               [columns]="_columns"></app-contributors-top-contributors-table>
      <app-contributors-top-contributors-table name="current"
                                               [tableData]="_tableData"
                                               [showDivider]="_isCompareMode"
                                               [isCompareMode]="_isCompareMode"
                                               [dates]="_currentDates"
                                               [firstTimeLoading]="_firstTimeLoading"
                                               [columns]="_columns"></app-contributors-top-contributors-table>
    </v-area-blocker>
  </div>
</div>
