@import '../../../../styles/variables';

.vSearch{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 34px;
  i{
    margin-left: 8px;
    color: $vGrayscale3;
    font-size: 18px;
  }
  vAutoComplete {
    margin-left: 3px;
    height: 34px;
  }
}
.hideLabels{
  vautocomplete /deep/ {
    .ui-autocomplete-multiple-container {
      padding: 4px;
      padding-left: 8px;
      display: flex;
      align-items: center;
      width: 200px;
      &.ui-state-focus{
        border: 1px solid $vGrayscale3;
      }
      input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $vGrayscale4;
      }
      input::-moz-placeholder { /* Firefox 19+ */
        color: $vGrayscale4;
      }
      input:-ms-input-placeholder { /* IE 10+ */
        color: $vGrayscale4;
      }
    }
    /*
    .ui-autocomplete-multiple-container:before {
      font-family: 'vmcng-icon-pack' !important;
      content: "\e90f";
      margin-right: 6px;
      margin-left: 3px;
      font-size: 18px;
    }*/
    .ui-autocomplete-token {
      display: none;
    }
    .ui-autocomplete-panel .ui-autocomplete-list-item span{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
    }
  }
}
